$white: #fff;
$success: #198754;
$info: #0dcaf0;
$warning:#ffc107;
$error:#dc3545;

.barry-allen-container{
    position: fixed;
    right:0;
    bottom:3rem;
    overflow: visible;
    z-index: 9999;
}

.barry-allen-notification{
    position: relative;
    min-height: 55px;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    right:0;
    transform: translateX(0);
    transition: 0.2s all;
    margin-bottom: 10px;
    padding: 5px 35px 5px 20px;
    -webkit-box-shadow: 2px 2px 33px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 33px 8px rgba(0, 0, 0, 0.1);
    line-height: 1.4;
    min-width: 250px;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-left: 2px $white solid;
    border-top: 2px $white solid;
    border-bottom: 2px $white solid;
    &.success{
        background-color: rgba($success, 0.4);
        color: $white;
        &:hover{
            background-color: $success
        }
    }
    &.info{
        background-color: rgba($info, 0.4);
        color: $white;
        &:hover{
            background-color: $info
        }
    }
    &.warning{
        background-color: rgba($warning, 0.4);
        color: $white;
        &:hover{
            background-color: $warning
        }
    }
    &.error{
        background-color: rgba($error, 0.4);
        color: $white;
        &:hover{
            background-color: $error
        }
    }
    &__inner{
        width: 100%;
    }
    &__action{
        position: absolute;
        right: 0;
        top:0;
    }
    &__button{
        background: none;
        border: none;
        cursor: pointer;
        color: $white;
        font-size: 1.2rem;
    }
}

.notify-enter-from {
    opacity: 0;
    transform: translateX(100%);
}

.notify-enter-to {
    opacity: 1;
    transform: translateX(0);
}

.notify-leave-from {
    transform: translateX(0);
}

.notify-leave-to {
    transform: translateX(100%);
}

.notify-enter-active,
.notify-leave-active {
    transition: all 0.6s ease-in-out;
}